.wrap{
display: flex;
justify-content: center;
align-items: center;
}
.ronybutton{
    box-sizing: border-box;
    background: none;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 0;
    
}
.ronybutton:hover{
    background: #E5E5E5;
    transition: all 0.5s;
}
.ronybutton:focus{
    outline: none;
}
.ronybutton >.circle{
    position: absolute;
    top: 50%;
    left: 50%;
     width: 5px;
     height: 5px;
    background: red;
    transform: translate(-50%,-50%);

    border-radius: 100%;
    visibility: hidden;
    z-index: -1;
}
.ronybutton>.circle.active{
    transform: scale(20);
    transition: all 1s;
    visibility: visible;
}